<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <body>

        <div ng-app="myApp" ng-controller="personCtrl">
            <p>First Name: <input type="text" ng-model="first_name"></p>
            <p>Last Name: <input type="text" ng-model="last_name"></p>
            <p>{{fullName()}}</p>
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('personCtrl', function($scope){
                $scope.first_name ='rahul';
                $scope.last_name ='mangal';
                $scope.fullName = function(){
                    return $scope.first_name +' '+ $scope.last_name;
                };
            });
                
            
        </script>
    </body>
</html>